<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teacher Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <style>

        body {
            display: flex;
            flex-direction: column;
        }

        .container1 {
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 16px;
            margin-bottom: 16px;
            width: 500px;
        }

        textarea {
            background-color: #181A1B;
        }


        .question {
            font-weight: bold;
            margin-bottom: 8px;
        }

        .buttons button {
            margin-right: 4px;
            margin-bottom: 4px;
        }

        .remove-button {
            background-color: #f44336;
            color: #fff;
        }
    </style>
</head>
<body class="bg-cover bg-center bg-no-repeat"
      style="background-image: url('../../static/images/pexels-jakub-novacek-924824.jpg');">
<header>
    <nav class="bg-black border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

            <a href="{{ url_for('teacher_dashboard') }}" class="flex">
                <img src="../../static/images/logo3.png" class="h-14 flex-shrink-0 ml-auto" alt="Kyubee Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto mt-3" id="navbar-default">
                <ul
                        class="font-medium flex flex-col p-4 md:p-0 mt-3 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="{{url_for('teacher_dashboard') }}"
                           class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                           aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('question_paper_upload') }}"
                           class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Upload
                            Papers</a>
                    </li>

                    <li>
                        <a href="{{ url_for('upload_notes') }}"
                           class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Upload
                            Notes</a>
                    </li>

                    <li>
                        <a href="{{url_for('teacher_account')}}"
                           class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Profile</a>
                    </li>

                    <li>
                        <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown"
                             data-dropdown-placement="bottom-start" class="w-9 h-9 rounded-full cursor-pointer"
                             src="{{ url_for('profile_picture') }}" alt="User dropdown">
                        <div id="userDropdown"
                             class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                                <div>{{ current_user.EMAIL }}</div>
                            </div>
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                aria-labelledby="avatarButton">
                                <li>
                                    <a href="#"
                                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                                </li>
                            </ul>
                            <div class="py-1">
                                <a href="{{url_for('logout')}}"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                                    out</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="mx-auto mt-8 px-4 ">
    <h1 class="text-2xl font-bold mb-4 text-white">Question Separator</h1>

    <form method="POST" enctype="multipart/form-data" class="mb-4">
        <input name="qp-name" id="qp-name" placeholder="Enter Question Paper Name"
               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-[300px] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-8"
               autocomplete="off">
        <input class="text-white" type="file" name="file" accept=".pdf,.docx">
        <br>
        <!--        <button type="submit">Extract Text</button>-->
        <div class="justify-between">
            <button type="submit" name="extract-text" id="extract-text"
                    class="text-white end-2.5 bottom-2.5 mt-6 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Extract Text
            </button>
            <button id="remove-all"
                    class="text-white end-2.5 bottom-2.5 mt-6 ml-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Remove All
            </button>
        </div>
    </form>
    <div class="flex justify-between">
        <form method="POST" enctype="multipart/form-data" class="mb-4">
            <textarea name="inputBox" rows="27" cols="100" style="color: #dfd4d4; resize: both; margin-right:50px" placeholder="Enter your questions here...">{{ extracted_text }}</textarea>
            <br>
            <button
                    class="text-white end-2.5 bottom-2.5 mt-6 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Separate Questions
            </button>

<!--            <button type="submit" name="submit-questions" id="submit-question"-->
<!--                    class="text-white end-2.5 bottom-2.5 mt-6 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-3 ml-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">-->
<!--                Submit-->
<!--            </button>-->


<!--            <input type="submit" id="submit-question" name="submit-question"-->
<!--                    class="text-white end-2.5 bottom-2.5 mt-6 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium   rounded-lg text-sm px-4 py-3 ml-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">-->


        </form>
        <div>
            <form method="POST">
                {% for question in questions_list %}
                {% if question|trim != '' %}
                <div class="container1">
                    <input name="{{ question }}" class="question" value="{{ question }}">
                    <div class="buttons">
                        <select name="{{ question }}-difficulty">
                            <option selected disabled>Select Difficulty</option>
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                        <!-- <button>Button 1</button> -->
                        <!-- <button>Button 2</button> -->
                        <!-- <button>Button 3</button> -->
                        <button class="remove-button">Remove</button>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            <input type="submit" id="submit-question" name="submit-question"
                    class="text-white end-2.5 bottom-2.5 mt-6 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium   rounded-lg text-sm px-4 py-3 ml-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            </form>
                   </div>
    </div>
</main>





<!--<script>-->
<!--    document.getElementById("submit-question").addEventListener("click", function(event) {-->
<!--        let questions = [];-->
<!--        let inputBox = document.querySelector("textarea[name='inputBox']");-->
<!--        let lines = inputBox.value.split("\n");-->

<!--        for (let line of lines) {-->
<!--            if (line.trim() !== "") {-->
<!--                questions.push(line.trim());-->
<!--            }-->
<!--        }-->

<!--        let questionsInput = document.getElementById("questions");-->
<!--        questionsInput.value = JSON.stringify(questions);-->
<!--    });-->
<!--</script>-->


<script>
    document.addEventListener('DOMContentLoaded', function() {
      const removeButtons = document.querySelectorAll('.remove-button');
      removeButtons.forEach(button => {
        button.addEventListener('click', function() {
          const container = button.closest('.container1');
          container.remove();
        });
      });

      const removeAllButton = document.getElementById('remove-all');
      removeAllButton.addEventListener('click', function() {
        const containers = document.querySelectorAll('.container1');
        containers.forEach(container => {
          container.remove();
        });
      });
    });
</script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>