<html>
<head>
<link rel="stylesheet" href="../../static/style.css">
</head>
<body>
<img src="../../static/images/logo.png" width="25%" height="15%" alt="logo" >
<div class="container" id="container">

	<div class="form-container sign-in-container">
        <form action="{{ url_for('login') }}" method="POST" autocomplete="off">
			{{form.hidden_tag()}}
			<h1>Sign in</h1>
			<br>
				
			<!-- <input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" /> -->
            {{ form.email() }}
            {{ form.password() }}

			<a href="#">Forgot your password?</a>
			<button type="submit">{{ form.login_field.label }}</button>
			
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1 style="margin-left: 60px;">Need an Account?</h1>
				<p>Enter your personal details and start journey with us</p>
                <a href="{{ url_for('register') }}"><button class="ghost" id="signUp" style="margin-left: 60px;color: #ffc300;" >Sign Up</button></a>


			</div>
		</div>
	</div>
</div>
</body>
</html>

