<html>
<head>
<link rel="stylesheet" href="../../static/style.css">
</head>
<body>
<img src="../../static/images/logo.png" width="25%" height="15%" alt="logo" >
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="{{url_for('teacher_profile',login_uuid=login_uuid)}}" method="POST" autocomplete=off>
            {{form.hidden_tag() }}
			<h1>Teacher Profile</h1><br>

            {{ form.first_name }}
            {{ form.last_name }}
            <select name="department" id="department">
                <option value="">Department</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Electrical Engineering">Electrical Engineering</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Biology">Biology</option>
                <option value="History">History</option>
            </select>
            {{ form.phone_number }}
			<br>
			<button type="submit">Save</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
                <img src="../../static/images/man-user-circle-icon.png" width="45%" height="35%"
                     id="profile_pic">
                <br>
                <!-- <b>UPLOAD NEW PHOTO</b> -->

<!--                <div class="file-upload">-->
<!--                    <input type="file" style="background-color :#ffc300" id="input_file" accept="image/*">-->
<!--                    <label for="input_file">Update Image</label><br><br>-->
<!--                </div>-->
<!--                <button class="ghost" id="reset">RESET</button>-->
<!--                <br>-->
<!--                <span style="font-size: 8px;">Allowed JPG, GIF or PNG.Max size of 800K </span>-->
                                    
			</div>
		</div>
	</div>
</div>
<script>
	let profilePic = document.getElementById("profile_pic");
	let inputFile = document.getElementById("input_file");

	inputFile.onchange = function() {
		profilePic.src = URL.createObjectURL(inputFile.files[0]);
	}

	document.getElementById("reset").onclick = function() {
		profilePic.src = "../static/images/man-user-circle-icon.png";
	}
</script>
</body>
</html>

